AZURE_AI_PROJECT_CONNECTION_STRING=your_connection_string_here
AZURE_SQL_CONNECTION_STRING=Server=your_server.database.windows.net;Database=uma;User Id=your_user;Password=your_password;Encrypt=true
ORCHESTRATOR_AGENT_ID=
ARCHITECT_AGENT_ID=
MENTOR_AGENT_ID=
CHALLENGER_AGENT_ID=
NAIVE_STUDENT_AGENT_ID=
EVALUATOR_AGENT_ID=
PORT=3001
